#container {
    border-style: double;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    border-width: 2px;
}

.grid {
    border-style: solid;
    border-color: rgba(179, 179, 179, 0.73);
    width: 5px;
    height: 5px;
    border-width: 0.1px;
    box-sizing: border-box;
}

